@inherits Business.WebApp.Abstractions.BaseComponent
@using Business.ExchangeRates.Abstractions.Models
<RadzenHeading Text="Exchange Rates For Quotes"></RadzenHeading>

@if (ExchangeRates is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenButton Text="Add Exchange Rate" Click="Add"></RadzenButton>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Currency Code</th>
                <th>Exchange Rate (INR)</th>
                <th>Weighted Factor</th>
                <th>Resultant Conversion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var er in ExchangeRates.ToList())
            {
                <tr>
                    <td>@GetCurrency(er.SourceCurrencyId).CurrencyCode</td>
                    <td>@er.ExchangeRateValue</td>
                    <td>@er.WeightedFactorValue</td>
                    <td>@GetResultantConversion(er.ExchangeRateValue, er.WeightedFactorValue)</td>
                    <td><RadzenButton Text="Edit Or Delete" ButtonStyle="ButtonStyle.Warning" Click="(() => GetExchangeRate(er.Id))"></RadzenButton></td>
                </tr>
            }
        </tbody>
    </table>

    @if (Mode == Business.Abstractions.CommandEnum.Add)
    {
        <RadzenDropDown TValue="string" Data="@Currencies"
                        TextProperty="CurrencyCode" ValueProperty="CurrencyId"
                        Change="@(e => OnChange(e))" />
        <RadzenTextBox @bind-Value=@ExchangeRateValueAsString Placeholder="Exchange Rate"></RadzenTextBox>
        <RadzenTextBox @bind-Value=@WeightedFactorValueAsString Placeholder="Weighted Factor"></RadzenTextBox>
        <RadzenButton Text="Add Exchange Rate" ButtonStyle="ButtonStyle.Secondary" Click="AddExchangeRate"></RadzenButton>
    }
    else if (Mode == Business.Abstractions.CommandEnum.Edit)
    {
        <RadzenDropDown TValue="string" Data="@Currencies" Placeholder="@SelectedSourceCurrencyCodeAsString" 
                        Change="@(e => OnChange(e))" TextProperty="CurrencyCode" ValueProperty="CurrencyId" 
                        AllowFiltering="true">
        </RadzenDropDown>

        <RadzenTextBox @bind-Value=@ExchangeRateValueAsString Placeholder="Exchange Rate"></RadzenTextBox>
        <RadzenTextBox @bind-Value=@WeightedFactorValueAsString Placeholder="Weighted Factor"></RadzenTextBox>
        <RadzenButton Text="Edit Exchange Rate" ButtonStyle="ButtonStyle.Secondary" Click="EditExchangeRate"></RadzenButton>
        <RadzenButton Text="Delete Exchange Rate" ButtonStyle="ButtonStyle.Danger" Click="DeleteExchangeRate"></RadzenButton>
    }
}