@page "/"
@using VisualFinder.Contracts
@inject IJSRuntime JSR
@inject HttpClient HCI
@inject ILogger<Index> ILOG

<PageTitle>Index</PageTitle>

<h1>Visual Finder</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <video id="webCameraFeed" width="320" height="240" />
            <canvas class="d-none" id="webCameraCanvas" width="320" height="240" /><br />
            <button class="btn btn-sm btn-primary" @onclick=DetectLabelsClicked>Search</button>
        </div>
        <div class="col-6">
        @if (labels is null) { }
        else
        {
            <table>
                <thead>
                    <tr class="row">
                        <th class="col-6">Name</th>
                        <th class="col-6">Confidence</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var label in labels)
                    {
                    <tr class="row">
                        <td class="col-6">
                            <button class="btn btn-link" @onclick="@((e) => QueryTablesClicked(e, @label.Name))">@label.Name</button>
                        </td>
                        <td class="col-6 p-2">@label.Confidence</td>
                    </tr>    
                    }
                </tbody>
            </table>
        }
        </div>
    </div>
    <hr />
    <div>
        @if(items is null) { }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th class="col-3">Product</th>
                        <th class="col-3">Category</th>
                        <th class="col-3">Image</th>
                    </tr>
                </thead>
            @foreach(var item in items)
            {
                <tr>
                    <td class="col-3">@item.ProductName</td>
                    <td class="col-3">@item.CategoryName</td>
                    <td class="col-3">
                        <img src=@item.ImageUrl alt=@item.ImageUrl width="80" />
                    </td>
                </tr>
            }    
            </table>
        }
    </div>
</div>
@code {
    private List<DetectLabelsResponse> labels = new();
    private List<SearchImagesResponse> images = new();
    private List<QueryTablesResponse> items = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await JSR.InvokeVoidAsync("startWebCamera", "webCameraFeed");
    }

    protected async Task DetectLabelsClicked()
    {
        await JSR.InvokeAsync<string>("getWebCameraImageFrame", "webCameraFeed", "webCameraCanvas", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async void DetectLabels(string imageString)
    {
        byte[] imageData = Convert.FromBase64String(imageString.Split(',')[1]);

        var multipartFormContent = new MultipartFormDataContent();
        var bytearrayContent = new ByteArrayContent(imageData);

        multipartFormContent.Add(bytearrayContent, "req", "temp.jpg");
        try
        {
            var response = await HCI.PostAsync("https://detect-labels.azurewebsites.net/api/detect-labels", multipartFormContent);
            var data = await response.Content.ReadFromJsonAsync<IEnumerable<DetectLabelsResponse>>();
            labels = data?.Select(d => new DetectLabelsResponse { Name = d.Name, Confidence = d.Confidence }).ToList() ?? new();
        }
        catch(Exception ex)
        {
            ILOG.LogError(ex.Message.ToString());
        }
        finally
        {
            StateHasChanged();   
        }

    }

    protected async Task QueryTablesClicked(MouseEventArgs e, string? labelName)
    {
        try
        {
            var response = await HCI.GetAsync($"https://query-tables.azurewebsites.net/api/query-tables?phrase={labelName}&count=100");
            var data = await response.Content.ReadFromJsonAsync<IEnumerable<QueryTablesResponse>>();
            items = data?.ToList() ?? new();
        }
        catch (Exception ex)
        {
            ILOG.LogError(ex.Message.ToString());
        }
        finally
        { }
    }

    protected async Task SearchImagesClicked(MouseEventArgs e, string? labelName)
    {
        try
        {
            //string labelName = string.Empty;
            var response = await HCI.GetAsync($"https://search-images.azurewebsites.net/api/search-images?phrase={labelName}");
            var data = await response.Content.ReadFromJsonAsync<IEnumerable<SearchImagesResponse>>();
            images = data?.ToList() ?? new();
        }
        catch(Exception ex)
        {
            ILOG.LogError(ex.Message.ToString());
        }
        finally
        {
            //StateHasChanged();
        }
    }
}