@inherits Business.WebApp.Abstractions.BaseComponent

<RadzenHeading Text="Competencies"></RadzenHeading>

@if (competencies is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenButton Text="Add Competency" Click="Add"></RadzenButton>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Meta</th>
                <th>Type</th>
                <th>Created On At</th>
                <th>Updated On At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competency in competencies.ToList())
            {
                <tr>
                    <td>@competency.Name</td>
                    <td>@competency.Description</td>
                    <td>@competency.CompetencyType</td>
                    <td>@competency.DateTimeOnCreateUtc</td>
                    <td>@competency.DateTimeOnUpdateUtc</td>
                    <td><RadzenButton Text="Edit Or Delete" ButtonStyle="ButtonStyle.Warning" Click="(() => GetCompetency(competency.Id))"></RadzenButton></td>
                </tr>
            }
        </tbody>
    </table>

    @if (mode == Business.Abstractions.CommandEnum.Add)
    {
        <RadzenTextBox @bind-Value=@name Placeholder="Competency Name"></RadzenTextBox>
        <RadzenTextBox @bind-Value=@desc Placeholder="Competency Description"></RadzenTextBox>
        <RadzenButton Text="Add Competency" ButtonStyle="ButtonStyle.Secondary" Click="AddCompetency"></RadzenButton>
    }
    else if (mode == Business.Abstractions.CommandEnum.Edit)
    {

        <RadzenTextBox @bind-Value=@currentCompetency.Name Placeholder="Sales Order Name"></RadzenTextBox>
        <RadzenTextBox @bind-Value=@currentCompetency.Description Placeholder="Sales Order Description"></RadzenTextBox>
        <RadzenButton Text="Edit Competency" ButtonStyle="ButtonStyle.Secondary" Click="EditCompetency"></RadzenButton>
        <RadzenButton Text="Delete Competency" ButtonStyle="ButtonStyle.Danger" Click="DeleteCompetency"></RadzenButton>
    }
}